@model Lab2.Models.StationModel

@{
    ViewData["Title"] = "Удалить станцию";
}

<div class="container mt-5">
    <h2 class="mb-4">Удалить станцию</h2>

    <div>
        <h3>Вы уверены, что хотите удалить эту станцию?</h3>
        <dl class="row">
            <dt class="col-sm-2">Название</dt>
            <dd class="col-sm-10">@Model.Name</dd>
            <dt class="col-sm-2">Город</dt>
            <dd class="col-sm-10">@Model.City</dd>
            <dt class="col-sm-2">Расписание</dt>
            <dd class="col-sm-10">@Model.Schedule</dd>
            <dt class="col-sm-2">Количество платформ</dt>
            <dd class="col-sm-10">@Model.Platforms</dd>
            <dt class="col-sm-2">Год открытия</dt>
            <dd class="col-sm-10">@Model.OpeningYear</dd>
        </dl>

        <form action="@Url.Action("DeleteConfirmed", "Stations", new { id = Model.Id })" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Id" />
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-danger mx-2">Удалить</button>
                <a href="@Url.Action("Index", "Stations")" class="btn btn-secondary mx-2">Отмена</a>
            </div>
        </form>
    </div>
</div>
